@charset "UTF-8";
/*Typography*/
html {
  font-size: 16px;
}

h1 {
  font-size: 3em;
  line-height: 1.05em;
}

h2,
h3 {
  line-height: 1.25em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p {
  font-size: 1.5em;
  line-height: 1.375em;
}

/*Base*/
html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: #777;
  text-decoration: none;
  transition: all 0.25s;
}
a:hover {
  color: #000;
}

/*Layout*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.overlay,
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  filter: grayscale(100%);
}

.nav-checkbox {
  display: none;
}

/*Navigation mechanism*/
.nav-label {
  display: block;
  float: left;
  position: relative;
  z-index: 99;
  padding: 0.5em;
  width: 48px;
  background: #fff;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 100%;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
}
.nav-label:before {
  content: "";
  font-family: fontAwesome;
}
.nav-label:hover {
  color: #000;
}

.nav-checkbox:checked + nav {
  top: 0;
  padding: 1em 0;
  width: 100%;
  background: #fff;
  border-bottom: 0.2em solid #333;
  border-radius: 0;
}

.nav-checkbox:checked + nav label {
  width: 48px;
}

.nav-checkbox:checked + nav label:before {
  content: "";
}

.nav-checkbox:checked + nav a {
  display: block;
}

.nav-checkbox:checked + nav .soc-media {
  padding-top: 0.95em;
}

/*Navigation*/
nav {
  position: fixed;
  top: 1em;
  z-index: 2;
  width: 48px;
  overflow: hidden;
  transition: all 0.5s;
}

nav a,
.soc-media a {
  display: none;
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.25em;
}

/*Social media*/
.soc-media {
  float: left;
}

.soc-media li {
  float: left;
}
.soc-media li:first-of-type {
  margin-left: 0.5em;
}
.soc-media li:nth-of-type(1n+2) {
  margin-left: 1em;
}

/*Header*/
header {
  margin: auto;
  width: 600px;
  text-transform: uppercase;
  color: darkgreen;
}

/*Nav*/
.nav {
  float: right;
  position: absolute;
  top: 1.9em;
  right: 0;
  font-family: sans-serif;
}

.nav li {
  float: left;
  margin-right: 1em;
}

:target {
  min-height: 100%;
  height: auto;
}

/*Main page*/
main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
 /* background: url(./portfolioheader.png) no-repeat;
  background-size: cover;
  filter: grayscale(100%);*/
}
.svg-container, .svg-container iframe {
    position: relative;
    margin-top: 500px;
    margin-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 400px;
 /*   background: url(./1000001513.png) no-repeat center center;
    border: 0.5em solid #000;
    border-radius: 50%; */
    overflow: hidden;
}

/*Sections*/
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  min-height: 0;
  background: #fff;
  overflow: hidden;
  transition: min-height 0.25s;
}

.content {
  margin: auto;
  padding: 5em 0;
  width: 60%;
}

.content h1 {
  text-align: center;
}

.content p {
  margin: 0.5em 0;
  
}

/*Info*/
.sec-info {
  color: #333;
}

.sec-info h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.sec-info p {
  text-align: center;
}

/*Gallery*/
.sec-gallery .row:first-of-type {
  margin-top: 8em;
}

.sec-gallery .row:last-of-type {
  margin-bottom: 5em;
}


.img-container {
  margin: auto;
  vertical-align: middle;
  width: 812px;
}

.img-container img {
  width: 200px;
  height: 200px;
  border: 0.15em solid #333;
  filter: grayscale(0%);
  transition: all 0.5s ease;
}
.img-container img:hover {
  filter: grayscale(0%);
}

/*Contact*/
.sec-contact {
  color: #333;
}

.sec-contact h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*Form*/
form {
  margin: auto;
  width: 35%;
  font-size: 1.5em;
}

form div {
  width: 100%;
}

form label,
form input,
form select,
form textarea {
  margin: 0.5em 0;
  width: 100%;
}

form input,
form select,
form textarea {
  padding: 0.5em;
  border: 0.15em solid #333;
}

form input,
form select {
  height: 2.5em;
}

form textarea {
  resize: none;
}

form input[type=button] {
  background: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.265s;
}
form input[type=button]:active, form input[type=button]:hover {
  background: #333;
  color: #fff;
}

.adress-container {
  float: left;
  margin-bottom: 2em;
  width: 100%;
}

.adress-container div {
  margin: auto;
}

.map-container {
  width: 50%;
  height: 250px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.adress {
  width: 50%;
  text-align: center;
}

.sec-contact h2,
.sec-contact h3 {
  padding: 1em 0;
  text-align: center;
}

.soc-media-about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2em;
}

.soc-media-about li:not(:last-of-type) {
  margin-right: 1em;
}

@media (min-width: 300px) and (max-width: 768px) {
  html {
  font-size: 16px;
}

h1 {
  font-size: 3em;
  line-height: 1.05em;
}

h2,
h3 {
  line-height: 1.25em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p {
  font-size: 1.5em;
  line-height: 1.375em;
}


  header {
  margin: auto;
  width: 75px;
  text-transform: uppercase;
  color: darkgreen;
}
  main {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  
  background-color: blue;  
  } 
  .svg-container, .svg-container iframe {
    position: relative;
    margin: 70px 70px 70px 70px;
    width: 250px;
    height: 250px;
  /*  background: url(./1000001513.png) no-repeat center center;
    border: 0.5em solid #000;
    border-radius: 50%; */
    overflow: hidden;
}
  /*Gallery*/
.sec-gallery .row:first-of-type {
  margin-top: 8em;
}

.sec-gallery .row:last-of-type {
  margin-bottom: 5em;
}
    
.img-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  box-shadow: 0 1px 1px #000;
  
}
  
.img-container img {
  width: 200px;
  height: 200px;
  border: 0.15em solid #333;
  filter: grayscale(0%);
  cursor: pointer;
  transition: all 0.5s ease;
}
  
.img-container img:hover {
  filter: grayscale(0%);
}
}
